.main-con {
    width: 100%;
    height: 90vh;
    background-color: #faebd7;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }
  
  img {
    object-fit: cover;
  }
  
  .text-div {
    position: absolute;
    top: 20%;
    left: 8%;
    width: 80vw;
  }
  .main-topic-main {
    color: #6f605b;
    font-weight: bolder;
    font-size: 6vw;
    animation: from-top 2000ms forwards cubic-bezier(0.65, 0.05, 0.36, 1);
  }
  
  .sub-topic {
    color: #000000;
    font-weight: 400;
    font-size: 3vw;
    animation: from-top 2000ms forwards cubic-bezier(0.65, 0.05, 0.36, 1);
    text-shadow: rgba(0, 0, 0, 0.895);
    
  }
  .btn-div {
    margin-top: 50px;
    animation: from-bottom 2000ms forwards cubic-bezier(0.65, 0.05, 0.36, 1);
    
  }
  .salebtnhome{
    background-color:#6f605b ;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-weight: bold;
  margin: 5px;  }

  .salebtnhome:hover{
    color: #6f605b;
    background-color: #faebd7;
  }
  /* .backimg{
    opacity: 70%;
  } */

  .hometext{
    background-color: #ffffff6e;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 10px;
  }

  /* .backrectangle{
    background-color: #6f605b;
    width: 200px;
    height: 200px;
  } */
 
  .navig{
    margin: 10px;
    background-color: #F36527;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    
  }
  .navig:hover{
    transform: scale(0.95);
    color: #706233;
  }
  .btn {
    margin-right: 1px;
    width: 12vw;
    border-radius: 10px;
    padding: 2px;
    font-size: 1rem;
    /* min-width: 200px; */
  }
  .btn-primary {
    background-color: #706233;
    border: none;
  }
  .btn-outline-primary {
    color: #00587a;
    border: 1px solid #00587a;
  }
  
  @media only screen and (max-width: 990px) {
    .text-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 12px;
      left: 0;
    }
    .main-con {
      height: 50vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .text-div {
      display: flex;
      align-items: center;
      justify-content: center;
      top: 25%;
    }
  }
  
  @media only screen and (max-width: 100px) {
    .btn-div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .btn {
      margin-top: 6px;
      margin-right: 0px;
    }
    .main-con {
      height: 50vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .text-div {
      display: flex;
      align-items: center;
      justify-content: center;
      top: 8%;
    }
    .main-topic-main {
      font-size: 8vw;
    }
    .sub-topic {
      font-size: 5vw;
    }
  }
  @keyframes from-top {
    0% {
      visibility: hidden;
      opacity: 0;
      transform: translateY(-30%);
    }
    100% {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  
  @keyframes from-bottom {
      0% {
          visibility: hidden;
          opacity: 0;
          transform: translateY(15%);
      }
      100% {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
      }
  }
  