/*.about_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
    color: #130e0c;;
}*/

.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}
.read_bt {
    width: 140px;
  }
  .read_bt {
    width: 140px;
  }
  .highest_text {
    font-size: 20px;
    color: #6f605b;
  }
  .read_bt a{
    width: 100%;
    float: left;
    font-size: 18px;
    background-color: #6f605b;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
} 
 .read_bt a:hover{
    background-color: #048a92;
    color: #000000;
}

.readbtn a{
  width: 162px;
  font-weight: bold;
  color: white;
  background-color: #6f605b;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.readbtn:hover{
  background-color: bisque;
  color: #6f605b;
}
.about_section.layout_padding{
    padding-left: 120px;
}

.care_taital{
  padding-right: 150px;
}

